include includes/layout.pug


.title-div
  .container
    .media
      img.d-flex.mr-3(src='/images/chingu.png' height=50 alt='Chingu Logo')
      .media-body
        h1.mt-0 Error #{error.status}

.info-div.text-center
  .container 
    h2#title Whoops, something went wrong!
    a(href='/') Home
    p= error.message
    h2= error.status
.container
  pre #{error.stack}

include includes/scripts.pug