include includes/layout.pug

h1= title
h3 Welcome to #{title}

if !user
  a(href='/auth/slack')
    img(src="https://api.slack.com/img/sign_in_with_slack.png")

if user
  -var welcomeStr = 'Welcome <strong>' + user.slack.displayName + '</strong> from team: <strong>' + user.slack.team.name + '</strong>.'
  p !{welcomeStr}

  a(href='/logout') Logout