include includes/layout.pug

.welcome-div
  h1= title
  h3 Welcome to #{title}
  p Please use the button below to sign in with your slack group.
  a(href='/auth/slack')
    img(src='images/sign_in_with_slack.png')
