body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: #D9853B;
}

a {
  color: #00B7FF;
}

#avatar {
  border-radius: 50%;
}

#request-form {
  display: none;
}

#user-table {
  margin: auto;
}
