

.title-div {
  background-color: #4CAF50;
  padding: 30px 0;
}

.user-div {
  background-color: #E1E2E1;
  padding: 30px;
}

.info-div{
  padding: 30px;
  background-color: #F5F5F6;
}

#avatar {
  border-radius: 50%;
}

thead {
  background-color: #80e27e;
}

#request-form {
  display: none;
}
