body {
  background-color: #F5F5F6;
}
.container:not(#user-container) {
  padding-bottom: 30px;
}

.no-wrap {
  white-space: nowrap;
}

.right {
  float: right;
}

.alert {
  margin-bottom: 0;
}

.title-div {
  background-color: #4CAF50;
  padding-top: 30px;
}

#title {
  margin-bottom: 30px;
}

.user-div {
  background-color: #E1E2E1;
  padding-top: 30px;
}

.info-div{
  padding-top: 30px;
  background-color: #F5F5F6;
}

footer {
  padding-top: 30px;
  text-align: center;
}

#avatar {
  border-radius: 50%;
}

.btn {
  background-color: #00e676;
  font-family: inherit;
  margin: 0 15px;
}

#btn-cancel {
  background-color: #ff8a50;
}

#match-table, hr {
  margin: 0;
}

thead {
  background-color: #80e27e;
}

tbody {
  background-color: #FFF;
}

#request-form {
  display: none;
}

h1 {
  font-family: 'Dosis', sans-serif;
}
